h1{
    text-align: center;
    font-size: 200%;
    color: #fdfdfd;
    background-color: rebeccapurple;
    padding: 20px 0px 20px 0px;

}

p{
    /*background-color: #ccffcc;*/
    padding: 10px 0px 10px 0px;
    text-align: left;


}

p#ex{
    background-color: #d3c1a0;
}

p#search_result{
    background-color: orange;
}