h1{
    font-size: 200%;
    text-align: center;
}

h2{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    background: #fdfdfd;
    border: solid purple;
    border-top: solid purple 6px;
    
}

h3{
    background-color: rgb(188, 202, 239);
}

p{
    text-indent: 2%;

}

.note{
    color: green;
}

.item{
    border-top: dashed purple;
}