h1{
    font-size: 200%;
    text-align: center;
    color: #fdfdfd;
    background-color: #004000;
    padding: 20px 0px 20px 0px;

}

h2{
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    background: #fdfdfd;
    outline: solid #000000;
    border-top: solid #000000 6px;
    
}

h3{
    background-color: rgb(188, 202, 239);
    border-right: solid #000060;
    border-bottom: solid #000060;

}

p{
    text-indent: 2%;

}

.note{
    color: green;
    background-color: #ffffbb;
    border-right: solid #006000;
    border-bottom: solid #006000;
    padding: 8px 8px 8px 8px;
}

.item{
    background-color: #ccffcc;
    border-top: dashed purple 3px;
    padding: 7px 0px 7px 0px;

}

ul{
    background-color: #ccffcc;
    border-right: solid #003030;
    border-bottom: solid #003030;

}

a:link{
    color: blue;
}

a:visited{
    color: rebeccapurple;
}

div{
    padding: 2px 0px 3em 0px;
    
}